.add,
.delete,
.select {
    background-color: #4caf50;
    color: white;
    padding: 0px 0px;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;

    &:hover {
        background-color: #45a049;
    }
}

.delete {
    background-color: #c82b40;
    color: white;
    transition: background-color 0.3s;

    &:hover {
        background-color: #c51f35;
    }
}

.modal-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #0ff;
    outline: none;
}