@import url("layout.css");
@import url("buttons.css");
@import url("films.css");
@import url("filmsPage.css");
@import url("projectsPage.css");
@import url("modal.css");
@import url("404.css");

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #222;
  color: #f0f0f0;
}